#mainHeader {
  height: 70px;
  background: #bfbfbf;
  display: flex;
  align-items: center;
  padding: 0 30px;
  gap: 20px;
  position: relative;
}


#logoArea {
  display: flex;
  align-items: center;
  height: 100%;          
}

#logoArea img {
  max-height: 50px;      
  width: auto;
  object-fit: contain;
  display: block;
}


#siteName {
  flex: 1;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

#navLinks {
  display: flex;
  gap: 25px;
}

.nav-item {
  cursor: pointer;
}

.nav-links span {
  margin-left: 25px;
  cursor: pointer;
}

#searchBox {
  position: absolute;
  top: 70px;
  right: 30px;
  display: none;
}

#searchBox input {
  width: 220px;
  padding: 8px 10px;
  font-size: auto;
  border: 1px solid black;
  border-radius: 5px;
}

.nav-item.active {
  text-decoration: none;
  color: black;
}
