#mainHeader {
  height: 70px;
  background: #bfbfbf;
  display: flex;
  align-items: center;
  padding: 0 30px;
  gap: 20px;
}

#logoArea {
  background: #a6a6a6;
  padding: 10px 14px;
  font-size: 12px;
  line-height: 1.1;
}

#siteName {
  flex: 1;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

#navLinks {
  display: flex;
  gap: 25px;
}

.nav-item {
  cursor: pointer;
}

.nav-links span {
  margin-left: 25px;
  cursor: pointer;
}

#searchBox {
  position: absolute;
  top: 70px;
  right: 30px;
  display: none;
}

#searchBox input {
  width: 220px;
  padding: 8px 10px;
  font-size: auto;
  border: 1px solid black;
  border-radius: 5px;
}


