body {
  background-color: #e6e6e6;
}

.profile-page {
  display: flex;
  align-items: flex-start;
  padding: 60px 200px;  
  gap: 60px;  
}

.left-panel {
  width: 320px;
}

#fileInput {
  display: none;
} 

.profile-container {
  background-color: white;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 6px;
  margin-top: 40px;
}

.profile-container img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
}


.right-panel {
  max-width: 450px;
  width: 100%;

  margin-left: 60px;   
  margin-top: 20px;   
}


.field {
  margin-bottom: 24px;
}

.field label {
  font-size: 14px;
  font-weight: bold;
  display: block;
  margin-bottom: 6px;
}

.box {
  width: 100%;
  height: 38px;
  background-color: #d3d3d3;
  border: none;
  border-radius: 6px;
  padding: 0 12px;
  font-size: 14px;
}

