* {
    box-sizing: border-box;
    font-family: Arial, sans-serif
}

body {
    margin: 0;
    background-color: #28587B;
}

/*
F2ECF1 - mist
C9D0DC - purple?
749EC1 - light blue 
4988BB darker blue
1C0F13 - black
28587B - dark blue
FAF9F9 - snow */

#mainHeader {
    height: 70px;
    background-color: #F2ECF1;
    display: flex;
    align-items: center; 
    padding: 15px 20px;     
}

/* insert the logo here */
#logoArea { 

    margin-right: auto;
}

#siteName {
    font-size: 16px;
    margin-right: 200px;
    color: #1C0F13;
}

#loginMenuBtn {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #1C0F13;
}

/* main */
#contentWrapper {
    background-color: #C9D0DC;
    display: flex;
    justify-content: center;   
    align-items: center;       
    padding: 60px;
    margin: 30px;
    border-radius: 8px;
}

#loginCard {
  width: 900px;
  height: 420px;
  border-radius: 12px;
  display: flex;
  flex-direction: row;        
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}

#formSection {
  width: 45%;
  display: flex;
  flex-direction: column;
}

#divider {
  width: 1px;
  height: 80%;
  background-color: #777;
  margin: 0 30px;
  flex-shrink: 0;   
}

#loginIn {
    font-size: 30px;
    color: #1C0F13;
    display: flex;
    padding-top: 20px;
}

.inputGroup {
    margin-bottom: 20px;
}

.inputGroup input {
    width: 100%;
    padding: 12px 14px;
    border: none;
    border-radius: 10px;
    background-color: #FAF9F9;
    font-size: 14px;
}


.checkboxGroup {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 25px;
    font-size: 14px;
}

#loginBtn {
  width: 260px;         
  padding: 15px;
  border: none;
  border-radius: 30px;
  background-color: #FAF9F9;
  font-size: 16px;
  cursor: pointer;
  margin: 0 auto;        
  display: block;
}


#logoSection {
    display: flex;
    align-items: center;
}

.inputGroup input {
  width: 100%;
  max-width: 400px;  
  padding: 30px;
  font-size: 16px;
  box-sizing: border-box;
}

.checkboxGroup input[type="checkbox"] {
    transform: scale(1.4);
    transform-origin: center;  
}

.checkboxGroup label {
    font-size: 16px;
    line-height: 2.5; 
}

#contactHr {
  margin-top:35px;
  font-size: 16px;
}

#logoSection {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}


#logoSection h1 {
  font-size: 64px;
  font-weight: normal;
}

.passwordGroup {
  position: relative;
}

.passwordGroup input {
  padding-right: 45px; 
}

.passwordGroup {
  position: relative;
}

.passwordGroup input {
  padding-right: 45px;
}

.toggle-password {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #555;
  font-size: 14px;
}

#loginDropdown {
    position: relative;
}

/* dropdown box */
#loginMenu {
    position: absolute;
    top: 100%;         
    right: 0;
    background-color: #FAF9F9;
    border: 1px solid #ccc;
    padding: 10px 14px;
    border-radius: 6px;
    min-width: 160px;
    z-index: 1000;
}

#loginMenu a {
    text-decoration: none;
    color: #1C0F13;
    display: block;
    padding: 6px 0;
}

#loginMenu a:hover {
    color: #28587B;
}








