/*Colour Padlet: #1C0F13 #28587B #4988BB #749EC1 #C9D0DC #F6ECF4 #FAF9F9*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  color: #1C0F13;
}

body {
    background-color: #C9D0DC;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #28587B;
    padding: 10px 72px;
    height: 60px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 24px;
}

.nav-links a {
  text-decoration: none;
  color: #FAF9F9;
  font-size: 1rem;
  transition: color 0.2s ease;
}

.nav-links a:hover {
  color: #1C0F13
}
#logo {
    width: auto;
    height: 100%;
}

