/*Colour Padlet: #1C0F13 #28587B #4988BB #749EC1 #C9D0DC #F6ECF4 #FAF9F9*/

.stalls-page-header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  margin: 24px 72px;
}

#back-btn {
  text-decoration: none;
  color: #1C0F13;
}

#placeholder {
    text-align: center;
}

.stalls-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 72px;
    gap: 24px;
}

.stall-card {
    background-color: #F6ECF4;
    box-shadow: 2px 2px 8px #28587B;
    border-radius: 12px;
}

.stall-card:hover {
    cursor: pointer;
}

.stall-info {
    padding: 16px;
}

.stall-info-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.stall-image-container {
    position: relative;
    width: 100%;
    height: 200px;
}

.stall-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}

.transparent-gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 12px 12px 0 0;
    background: linear-gradient(to bottom, rgba(246, 236, 244, 0), #F6ECF4);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 768px) {
    .stalls-page-header {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
        margin: 24px;
    }
    .stalls-container {
        display: flex;
        flex-direction: column;
        margin: 0 24px;
    }

    .stall-card {
        width: 100%;
    }

}